# ============================================================
# FluviaRP - server.cfg
# ============================================================

endpoint_add_tcp "0.0.0.0:26202"
endpoint_add_udp "0.0.0.0:26202"

sv_maxclients {{maxClients}}
set sv_hostname "{{serverName}}"
# Ajout de 'sets' devant projectName et projectDesc
sets sv_projectName "FluviaRP"
sets sv_projectDesc "Framework RP custom - FluviaRP"

# Clé de licence FiveM (injectée par txAdmin)
sv_licenseKey "{{svLicense}}"

# ---- Admin txAdmin ----
add_ace resource.monitor command.quit allow
{{addPrincipalsMaster}}

# ---- Base de données (oxmysql) ----
set mysql_connection_string "mysql://fluviarp:Pipefeu2@localhost/fluviarp?waitForConnections=true&charset=utf8mb4"

# ---- Paramètres du serveur ----
set sv_enforceGameBuild 3095
sets tags "roleplay, fr, custom"
sets locale "fr-FR"
set onesync on

# ---- Chargement des ressources ----

# 1. Ressources natives FiveM
ensure spawnmanager
ensure sessionmanager

# 2. Dépendance (Assure-toi qu'oxmysql est bien à la RACINE de /resources)
ensure oxmysql

# 3. Dossiers par catégories (L'ordre est respecté)
ensure [core]
ensure [inventory]
ensure [character]
ensure [admin]
ensure [tablet]